<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      Enter auction end datetime:
      <input type="datetime-local" name="dateInput" id="dateInput" />
      <button class="set-timer-btn">Set Timer</button>

      <br /><br />
      Display timer<br />
      <span class="timer-hour">00</span> hours :
      <span class="timer-minutes">00</span> minutes :
      <span class="timer-seconds">00</span> seconds
    </div>
    <br />
    <div>
      <button class="start-timer-btn">Start timer</button><br />
      <button class="stop-timer-btn">Stop timer</button>
    </div>

    <script src="./timer.js"></script>
  </body>
</html>
